@media (max-width: 991px) {
  .section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .html {
    overflow-x: hidden;
  }
  .home-section .home-text,
  .home-section .home-img {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-text h2 {
    font-size: 55px;
    font-weight: 600;
    color: var(--text-black-900);
    margin: 0;
  }
  .home-img {
    display: none;
  }

  a.mobile {
    display: none;
  }
  .home-section .full-screen {
    /* background-color: blue; */
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    font-weight: 400;
  }
  .home-section .home-text {
    order: 2;
  }
  .home-section .home-text {
    text-align: center;
  }
  .home-section .home-text p {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-600);
  }
  .effect-3 {
    margin-left: -60px;
  }
  .effect-4 {
    left: 15%;
  }
  .effect-5 {
    right: 4%;
  }

  /* about section */

  .mobile-row {
    display: flex;
    flex-wrap: wrap;
  }
  .about-section .about-img {
    /* background-color: blue; */
    flex: 0 0 100%;
    max-width: 80%;
    padding: 0;
  }

  .about-section .about-img {
    /* background-color: blue; */
    flex: 0 0 100%;
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .about-section .about-info {
    flex: 0 0 100%;
    padding: 35px 15px;
    max-width: 95%;
    text-align: justify;
    margin: 0 auto;
  }

  /* .about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    max-width: 767px;
    width: 90vw;
    color: var(--text-black-600);
  } */

  .about-section .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 7%;
  }

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }

  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }
  .about-section .timeline:before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }

  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }
  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }
  .about-section.timeline.timeline-item:nth-child(odd)
    .timeline-item-inner:before {
    left: -30px;
    right: auto;
  }
  .section .service-item {
    flex: 0 0 100%;
    max-width: 90%;
  }

  .about-section .about-item-inner {
    padding: 80px 15px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .about-section .about-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .service-section .service-item-inner {
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .contact-section .contact-item,
  .portfolio-section .portfolio-item {
    flex: 0 0 100%;
    max-width: 90%;
  }
  .slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
  }

  .about-section .about-tabs {
    max-width: 90%;
  }

  .contact-section .contact-item {
    margin: 0 auto;
  }
  .contact-section .w-50 {
    padding: 0 15px;
    flex: 0 0 90%;
    max-width: 90%;
    margin: 0 auto;
  }
  .btn-2 {
    width: 90%;
    margin-right: 5%;
  }
  .portfolio-items {
    width: 90%;
  }
}
